name: Build & Deploy Spring app

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    name: Build and deploy spring boot
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: echo "Hello from GitHub Actions!"

      - name: Check out code
        uses: actions/checkout@v4

      - name: List files
        run: ls -la

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'corretto'
          cache: maven # to avoid installing it again everytime we modify the pipeline

      - name: Run tests
        run: mvn test

      - name: Build with Maven
        run: mvn clean package

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.AWS_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ls ~/.ssh

      - name: Cleanup SSH key
        if: always()
        run: rm -f ~/.ssh/id_rsa